@font-face {
    font-family: 'Times New Roman';
    src: url('../assets/fonts/times_new_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    

    font-family: 'Consolas';
    src: url('../assets/fonts/consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}

header {
    display: none;
    position: fixed;
    gap: 20px;
    width: 100%;
    background-color: #0B192C;
    align-items: center;
    padding-left: 2%;
    z-index: 2;
}

header a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: color 1s ease, background-color 1s ease, border-radius 0.3s;
    margin: 15px 0px;
    padding: 10px 10px;
    color: #EEEEEE;
    border-radius: 30px;
}

header .logo {
    margin: 0px;
    padding: 0px;
}

header svg {
    height: 32px;
    padding: 10px;
}

header > a:hover {
    color: silver;
    background-color: #393E46;
    border-radius: 10px;
}

.gitin {
    position: fixed;
    right: 10px;;
    top: 10px;
    z-index: 3;
}

.gitin a {
    text-decoration: none;
}

.gitin  svg{
    height: 32px;
    padding: 10px;
    color: #EEEEEE;
    transition: color 0.5s ease;
}

.gitin  svg:hover{
    color: silver;
}

.section1 {
    background: linear-gradient(rgba(34, 40, 49, 1) 80%, rgba(34, 40, 49, 0.85));
    padding-top: 80px;
}

@keyframes FlexUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.section1 > .flexbox1 {
    display: flex;
    gap: 6%;
    padding: 0px 50px;
    justify-content: center;
    animation: FlexUp 1.25s ease-out;
}

.portrait {
    flex: 1;
    max-width: 550px;
    min-width: 550px;
    max-height: 550px;
    border-radius: 40%;
    filter: drop-shadow(0px -5px 20px rgba(0, 0, 0, 0.4));
}

.intro {
    flex: 1;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.intro > a {
    text-decoration: none;
    user-select: none;
}

.section1 h1 {
    font-size: 4rem;
    font-family: 'Times New Roman', serif;
    align-self: flex-start;
    background: linear-gradient(90deg, yellow, #00ADB5, red, green);
    background-size: 400% 400%;
    animation: gradient-animation 100s ease infinite;
    -webkit-background-clip: text;
    color: transparent;
    user-select: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-box {
    background-color: #393E46;
    border-radius: 5px;
    border: 1px solid black;
    max-width: 100%;
    padding: 0px 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.hello-world {
    font-family: 'Consolas', sans-serif;
    font-size: 0;
    color: #EEEEEE;
}

@keyframes ChangeOpacity {
    100% {
        opacity: 1;
    }
}

.hello-world  span {
    color: #EEEEEE;
    opacity: 0;
    font-size: 1.2rem;
    animation: ChangeOpacity 0s forwards;
}

.hello-world  .nowrap {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.hello-world  .class2 {animation-delay: 0.025559105431309903s;}
.hello-world  .class3 {animation-delay: 0.051118210862619806s;}
.hello-world  .class4 {animation-delay: 0.07667731629392971s;}
.hello-world  .class5 {animation-delay: 0.10223642172523961s;}
.hello-world  .class6 {animation-delay: 0.12779552715654952s;}
.hello-world  .class7 {animation-delay: 0.15335463258785942s;}
.hello-world  .class8 {animation-delay: 0.17891373801916932s;}
.hello-world  .class9 {animation-delay: 0.20447284345047922s;}
.hello-world  .class10 {animation-delay: 0.23003194888178913s;}
.hello-world  .class11 {animation-delay: 0.25559105431309903s;}
.hello-world  .class12 {animation-delay: 0.28115015974440893s;}
.hello-world  .class13 {animation-delay: 0.30670926517571884s;}
.hello-world  .class14 {animation-delay: 0.33226837060702874s;}
.hello-world  .class15 {animation-delay: 0.35782747603833864s;}
.hello-world  .class16 {animation-delay: 0.38338658146964855s;}
.hello-world  .class17 {animation-delay: 0.40894568690095845s;}
.hello-world  .class18 {animation-delay: 0.43450479233226835s;}
.hello-world  .class19 {animation-delay: 0.46006389776357826s;}
.hello-world  .class20 {animation-delay: 0.48562300319488816s;}
.hello-world  .class21 {animation-delay: 0.5111821086261981s;}
.hello-world  .class22 {animation-delay: 0.536741214057508s;}
.hello-world  .class23 {animation-delay: 0.5623003194888179s;}
.hello-world  .class24 {animation-delay: 0.5878594249201278s;}
.hello-world  .class25 {animation-delay: 0.6134185303514377s;}
.hello-world  .class26 {animation-delay: 0.6389776357827476s;}
.hello-world  .class27 {animation-delay: 0.6645367412140575s;}
.hello-world  .class28 {animation-delay: 0.6900958466453674s;}
.hello-world  .class29 {animation-delay: 0.7156549520766773s;}
.hello-world  .class30 {animation-delay: 0.7412140575079872s;}
.hello-world  .class31 {animation-delay: 0.7667731629392971s;}
.hello-world  .class32 {animation-delay: 0.792332268370607s;}
.hello-world  .class33 {animation-delay: 0.8178913738019169s;}
.hello-world  .class34 {animation-delay: 0.8434504792332268s;}
.hello-world  .class35 {animation-delay: 0.8690095846645367s;}
.hello-world  .class36 {animation-delay: 0.8945686900958466s;}
.hello-world  .class37 {animation-delay: 0.9201277955271565s;}
.hello-world  .class38 {animation-delay: 0.9456869009584664s;}
.hello-world  .class39 {animation-delay: 0.9712460063897763s;}
.hello-world  .class40 {animation-delay: 0.9968051118210862s;}
.hello-world  .class41 {animation-delay: 1.0223642172523961s;}
.hello-world  .class42 {animation-delay: 1.047923322683706s;}
.hello-world  .class43 {animation-delay: 1.0734824281150157s;}
.hello-world  .class44 {animation-delay: 1.0990415335463255s;}
.hello-world  .class45 {animation-delay: 1.1246006389776353s;}
.hello-world  .class46 {animation-delay: 1.150159744408945s;}
.hello-world  .class47 {animation-delay: 1.1757188498402549s;}
.hello-world  .class48 {animation-delay: 1.2012779552715647s;}
.hello-world  .class49 {animation-delay: 1.2268370607028745s;}
.hello-world  .class50 {animation-delay: 1.2523961661341843s;}
.hello-world  .class51 {animation-delay: 1.277955271565494s;}
.hello-world  .class52 {animation-delay: 1.3035143769968038s;}
.hello-world  .class53 {animation-delay: 1.3290734824281136s;}
.hello-world  .class54 {animation-delay: 1.3546325878594234s;}
.hello-world  .class55 {animation-delay: 1.3801916932907332s;}
.hello-world  .class56 {animation-delay: 1.405750798722043s;}
.hello-world  .class57 {animation-delay: 1.4313099041533528s;}
.hello-world  .class58 {animation-delay: 1.4568690095846626s;}
.hello-world  .class59 {animation-delay: 1.4824281150159724s;}
.hello-world  .class60 {animation-delay: 1.5079872204472822s;}
.hello-world  .class61 {animation-delay: 1.533546325878592s;}
.hello-world  .class62 {animation-delay: 1.5591054313099018s;}
.hello-world  .class63 {animation-delay: 1.5846645367412115s;}
.hello-world  .class64 {animation-delay: 1.6102236421725213s;}
.hello-world  .class65 {animation-delay: 1.6357827476038311s;}
.hello-world  .class66 {animation-delay: 1.661341853035141s;}
.hello-world  .class67 {animation-delay: 1.6869009584664507s;}
.hello-world  .class68 {animation-delay: 1.7124600638977605s;}
.hello-world  .class69 {animation-delay: 1.7380191693290703s;}
.hello-world  .class70 {animation-delay: 1.76357827476038s;}
.hello-world  .class71 {animation-delay: 1.7891373801916899s;}
.hello-world  .class72 {animation-delay: 1.8146964856229997s;}
.hello-world  .class73 {animation-delay: 1.8402555910543095s;}
.hello-world  .class74 {animation-delay: 1.8658146964856193s;}
.hello-world  .class75 {animation-delay: 1.891373801916929s;}
.hello-world  .class76 {animation-delay: 1.9169329073482388s;}
.hello-world  .class77 {animation-delay: 1.9424920127795486s;}
.hello-world  .class78 {animation-delay: 1.9680511182108584s;}
.hello-world  .class79 {animation-delay: 1.9936102236421682s;}
.hello-world  .class80 {animation-delay: 2.019169329073478s;}
.hello-world  .class81 {animation-delay: 2.044728434504788s;}
.hello-world  .class82 {animation-delay: 2.0702875399360976s;}
.hello-world  .class83 {animation-delay: 2.0958466453674074s;}
.hello-world  .class84 {animation-delay: 2.121405750798717s;}
.hello-world  .class85 {animation-delay: 2.146964856230027s;}
.hello-world  .class86 {animation-delay: 2.1725239616613368s;}
.hello-world  .class87 {animation-delay: 2.1980830670926466s;}
.hello-world  .class88 {animation-delay: 2.2236421725239564s;}
.hello-world  .class89 {animation-delay: 2.249201277955266s;}
.hello-world  .class90 {animation-delay: 2.274760383386576s;}
.hello-world  .class91 {animation-delay: 2.3003194888178857s;}
.hello-world  .class92 {animation-delay: 2.3258785942491955s;}
.hello-world  .class93 {animation-delay: 2.3514376996805053s;}
.hello-world  .class94 {animation-delay: 2.376996805111815s;}
.hello-world  .class95 {animation-delay: 2.402555910543125s;}
.hello-world  .class96 {animation-delay: 2.4281150159744347s;}
.hello-world  .class97 {animation-delay: 2.4536741214057445s;}
.hello-world  .class98 {animation-delay: 2.4792332268370543s;}
.hello-world  .class99 {animation-delay: 2.504792332268364s;}
.hello-world  .class100 {animation-delay: 2.530351437699674s;}
.hello-world  .class101 {animation-delay: 2.5559105431309836s;}
.hello-world  .class102 {animation-delay: 2.5814696485622934s;}
.hello-world  .class103 {animation-delay: 2.6070287539936032s;}
.hello-world  .class104 {animation-delay: 2.632587859424913s;}
.hello-world  .class105 {animation-delay: 2.658146964856223s;}
.hello-world  .class106 {animation-delay: 2.6837060702875326s;}
.hello-world  .class107 {animation-delay: 2.7092651757188424s;}
.hello-world  .class108 {animation-delay: 2.734824281150152s;}
.hello-world  .class109 {animation-delay: 2.760383386581462s;}
.hello-world  .class110 {animation-delay: 2.7859424920127718s;}
.hello-world  .class111 {animation-delay: 2.8115015974440816s;}
.hello-world  .class112 {animation-delay: 2.8370607028753914s;}
.hello-world  .class113 {animation-delay: 2.862619808306701s;}
.hello-world  .class114 {animation-delay: 2.888178913738011s;}
.hello-world  .class115 {animation-delay: 2.9137380191693207s;}
.hello-world  .class116 {animation-delay: 2.9392971246006305s;}
.hello-world  .class117 {animation-delay: 2.9648562300319403s;}
.hello-world  .class118 {animation-delay: 2.99041533546325s;}
.hello-world  .class119 {animation-delay: 3.01597444089456s;}
.hello-world  .class120 {animation-delay: 3.0415335463258697s;}
.hello-world  .class121 {animation-delay: 3.0670926517571795s;}
.hello-world  .class122 {animation-delay: 3.0926517571884893s;}
.hello-world  .class123 {animation-delay: 3.118210862619799s;}
.hello-world  .class124 {animation-delay: 3.143769968051109s;}
.hello-world  .class125 {animation-delay: 3.1693290734824187s;}
.hello-world  .class126 {animation-delay: 3.1948881789137284s;}
.hello-world  .class127 {animation-delay: 3.2204472843450382s;}
.hello-world  .class128 {animation-delay: 3.246006389776348s;}
.hello-world  .class129 {animation-delay: 3.271565495207658s;}
.hello-world  .class130 {animation-delay: 3.2971246006389676s;}
.hello-world  .class131 {animation-delay: 3.3226837060702774s;}
.hello-world  .class132 {animation-delay: 3.348242811501587s;}
.hello-world  .class133 {animation-delay: 3.373801916932897s;}
.hello-world  .class134 {animation-delay: 3.399361022364207s;}
.hello-world  .class135 {animation-delay: 3.4249201277955166s;}
.hello-world  .class136 {animation-delay: 3.4504792332268264s;}
.hello-world  .class137 {animation-delay: 3.476038338658136s;}
.hello-world  .class138 {animation-delay: 3.501597444089446s;}
.hello-world  .class139 {animation-delay: 3.5271565495207557s;}
.hello-world  .class140 {animation-delay: 3.5527156549520655s;}
.hello-world  .class141 {animation-delay: 3.5782747603833753s;}
.hello-world  .class142 {animation-delay: 3.603833865814685s;}
.hello-world  .class143 {animation-delay: 3.629392971245995s;}
.hello-world  .class144 {animation-delay: 3.6549520766773047s;}
.hello-world  .class145 {animation-delay: 3.6805111821086145s;}
.hello-world  .class146 {animation-delay: 3.7060702875399243s;}
.hello-world  .class147 {animation-delay: 3.731629392971234s;}
.hello-world  .class148 {animation-delay: 3.757188498402544s;}
.hello-world  .class149 {animation-delay: 3.7827476038338537s;}
.hello-world  .class150 {animation-delay: 3.8083067092651635s;}
.hello-world  .class151 {animation-delay: 3.8338658146964733s;}
.hello-world  .class152 {animation-delay: 3.859424920127783s;}
.hello-world  .class153 {animation-delay: 3.884984025559093s;}
.hello-world  .class154 {animation-delay: 3.9105431309904026s;}
.hello-world  .class155 {animation-delay: 3.9361022364217124s;}
.hello-world  .class156 {animation-delay: 3.961661341853022s;}
.hello-world  .class157 {animation-delay: 3.987220447284332s;}
.hello-world  .class158 {animation-delay: 4.012779552715642s;}
.hello-world  .class159 {animation-delay: 4.0383386581469525s;}
.hello-world  .class160 {animation-delay: 4.063897763578263s;}
.hello-world  .class161 {animation-delay: 4.089456869009573s;}
.hello-world  .class162 {animation-delay: 4.115015974440883s;}
.hello-world  .class163 {animation-delay: 4.140575079872193s;}
.hello-world  .class164 {animation-delay: 4.166134185303504s;}
.hello-world  .class165 {animation-delay: 4.191693290734814s;}
.hello-world  .class166 {animation-delay: 4.217252396166124s;}
.hello-world  .class167 {animation-delay: 4.242811501597434s;}
.hello-world  .class168 {animation-delay: 4.268370607028745s;}
.hello-world  .class169 {animation-delay: 4.293929712460055s;}
.hello-world  .class170 {animation-delay: 4.319488817891365s;}
.hello-world  .class171 {animation-delay: 4.345047923322675s;}
.hello-world  .class172 {animation-delay: 4.3706070287539855s;}
.hello-world  .class173 {animation-delay: 4.396166134185296s;}
.hello-world  .class174 {animation-delay: 4.421725239616606s;}
.hello-world  .class175 {animation-delay: 4.447284345047916s;}
.hello-world  .class176 {animation-delay: 4.4728434504792265s;}
.hello-world  .class177 {animation-delay: 4.498402555910537s;}
.hello-world  .class178 {animation-delay: 4.523961661341847s;}
.hello-world  .class179 {animation-delay: 4.549520766773157s;}
.hello-world  .class180 {animation-delay: 4.575079872204467s;}
.hello-world  .class181 {animation-delay: 4.600638977635778s;}
.hello-world  .class182 {animation-delay: 4.626198083067088s;}
.hello-world  .class183 {animation-delay: 4.651757188498398s;}
.hello-world  .class184 {animation-delay: 4.677316293929708s;}
.hello-world  .class185 {animation-delay: 4.702875399361019s;}
.hello-world  .class186 {animation-delay: 4.728434504792329s;}
.hello-world  .class187 {animation-delay: 4.753993610223639s;}
.hello-world  .class188 {animation-delay: 4.779552715654949s;}
.hello-world  .class189 {animation-delay: 4.80511182108626s;}
.hello-world  .class190 {animation-delay: 4.83067092651757s;}
.hello-world  .class191 {animation-delay: 4.85623003194888s;}
.hello-world  .class192 {animation-delay: 4.88178913738019s;}
.hello-world  .class193 {animation-delay: 4.9073482428115005s;}
.hello-world  .class194 {animation-delay: 4.932907348242811s;}
.hello-world  .class195 {animation-delay: 4.958466453674121s;}
.hello-world  .class196 {animation-delay: 4.984025559105431s;}
.hello-world  .class197 {animation-delay: 5.0095846645367414s;}
.hello-world  .class198 {animation-delay: 5.035143769968052s;}
.hello-world  .class199 {animation-delay: 5.060702875399362s;}
.hello-world  .class200 {animation-delay: 5.086261980830672s;}
.hello-world  .class201 {animation-delay: 5.111821086261982s;}
.hello-world  .class202 {animation-delay: 5.137380191693293s;}
.hello-world  .class203 {animation-delay: 5.162939297124603s;}
.hello-world  .class204 {animation-delay: 5.188498402555913s;}
.hello-world  .class205 {animation-delay: 5.214057507987223s;}
.hello-world  .class206 {animation-delay: 5.239616613418534s;}
.hello-world  .class207 {animation-delay: 5.265175718849844s;}
.hello-world  .class208 {animation-delay: 5.290734824281154s;}
.hello-world  .class209 {animation-delay: 5.316293929712464s;}
.hello-world  .class210 {animation-delay: 5.3418530351437745s;}
.hello-world  .class211 {animation-delay: 5.367412140575085s;}
.hello-world  .class212 {animation-delay: 5.392971246006395s;}
.hello-world  .class213 {animation-delay: 5.418530351437705s;}
.hello-world  .class214 {animation-delay: 5.4440894568690155s;}
.hello-world  .class215 {animation-delay: 5.469648562300326s;}
.hello-world  .class216 {animation-delay: 5.495207667731636s;}
.hello-world  .class217 {animation-delay: 5.520766773162946s;}
.hello-world  .class218 {animation-delay: 5.546325878594256s;}
.hello-world  .class219 {animation-delay: 5.571884984025567s;}
.hello-world  .class220 {animation-delay: 5.597444089456877s;}
.hello-world  .class221 {animation-delay: 5.623003194888187s;}
.hello-world  .class222 {animation-delay: 5.648562300319497s;}
.hello-world  .class223 {animation-delay: 5.674121405750808s;}
.hello-world  .class224 {animation-delay: 5.699680511182118s;}
.hello-world  .class225 {animation-delay: 5.725239616613428s;}
.hello-world  .class226 {animation-delay: 5.750798722044738s;}
.hello-world  .class227 {animation-delay: 5.7763578274760485s;}
.hello-world  .class228 {animation-delay: 5.801916932907359s;}
.hello-world  .class229 {animation-delay: 5.827476038338669s;}
.hello-world  .class230 {animation-delay: 5.853035143769979s;}
.hello-world  .class231 {animation-delay: 5.8785942492012895s;}
.hello-world  .class232 {animation-delay: 5.9041533546326s;}
.hello-world  .class233 {animation-delay: 5.92971246006391s;}
.hello-world  .class234 {animation-delay: 5.95527156549522s;}
.hello-world  .class235 {animation-delay: 5.98083067092653s;}
.hello-world  .class236 {animation-delay: 6.006389776357841s;}
.hello-world  .class237 {animation-delay: 6.031948881789151s;}
.hello-world  .class238 {animation-delay: 6.057507987220461s;}
.hello-world  .class239 {animation-delay: 6.083067092651771s;}
.hello-world  .class240 {animation-delay: 6.108626198083082s;}
.hello-world  .class241 {animation-delay: 6.134185303514392s;}
.hello-world  .class242 {animation-delay: 6.159744408945702s;}
.hello-world  .class243 {animation-delay: 6.185303514377012s;}
.hello-world  .class244 {animation-delay: 6.2108626198083225s;}
.hello-world  .class245 {animation-delay: 6.236421725239633s;}
.hello-world  .class246 {animation-delay: 6.261980830670943s;}
.hello-world  .class247 {animation-delay: 6.287539936102253s;}
.hello-world  .class248 {animation-delay: 6.3130990415335635s;}
.hello-world  .class249 {animation-delay: 6.338658146964874s;}
.hello-world  .class250 {animation-delay: 6.364217252396184s;}
.hello-world  .class251 {animation-delay: 6.389776357827494s;}
.hello-world  .class252 {animation-delay: 6.415335463258804s;}
.hello-world  .class253 {animation-delay: 6.440894568690115s;}
.hello-world  .class254 {animation-delay: 6.466453674121425s;}
.hello-world  .class255 {animation-delay: 6.492012779552735s;}
.hello-world  .class256 {animation-delay: 6.517571884984045s;}
.hello-world  .class257 {animation-delay: 6.543130990415356s;}
.hello-world  .class258 {animation-delay: 6.568690095846666s;}
.hello-world  .class259 {animation-delay: 6.594249201277976s;}
.hello-world  .class260 {animation-delay: 6.619808306709286s;}
.hello-world  .class261 {animation-delay: 6.645367412140597s;}
.hello-world  .class262 {animation-delay: 6.670926517571907s;}
.hello-world  .class263 {animation-delay: 6.696485623003217s;}
.hello-world  .class264 {animation-delay: 6.722044728434527s;}
.hello-world  .class265 {animation-delay: 6.7476038338658375s;}
.hello-world  .class266 {animation-delay: 6.773162939297148s;}
.hello-world  .class267 {animation-delay: 6.798722044728458s;}
.hello-world  .class268 {animation-delay: 6.824281150159768s;}
.hello-world  .class269 {animation-delay: 6.8498402555910785s;}
.hello-world  .class270 {animation-delay: 6.875399361022389s;}
.hello-world  .class271 {animation-delay: 6.900958466453699s;}
.hello-world  .class272 {animation-delay: 6.926517571885009s;}
.hello-world  .class273 {animation-delay: 6.952076677316319s;}
.hello-world  .class274 {animation-delay: 6.97763578274763s;}
.hello-world  .class275 {animation-delay: 7.00319488817894s;}
.hello-world  .class276 {animation-delay: 7.02875399361025s;}
.hello-world  .class277 {animation-delay: 7.05431309904156s;}
.hello-world  .class278 {animation-delay: 7.079872204472871s;}
.hello-world  .class279 {animation-delay: 7.105431309904181s;}
.hello-world  .class280 {animation-delay: 7.130990415335491s;}
.hello-world  .class281 {animation-delay: 7.156549520766801s;}
.hello-world  .class282 {animation-delay: 7.1821086261981115s;}
.hello-world  .class283 {animation-delay: 7.207667731629422s;}
.hello-world  .class284 {animation-delay: 7.233226837060732s;}
.hello-world  .class285 {animation-delay: 7.258785942492042s;}
.hello-world  .class286 {animation-delay: 7.2843450479233525s;}
.hello-world  .class287 {animation-delay: 7.309904153354663s;}
.hello-world  .class288 {animation-delay: 7.335463258785973s;}
.hello-world  .class289 {animation-delay: 7.361022364217283s;}
.hello-world  .class290 {animation-delay: 7.386581469648593s;}
.hello-world  .class291 {animation-delay: 7.412140575079904s;}
.hello-world  .class292 {animation-delay: 7.437699680511214s;}
.hello-world  .class293 {animation-delay: 7.463258785942524s;}
.hello-world  .class294 {animation-delay: 7.488817891373834s;}
.hello-world  .class295 {animation-delay: 7.514376996805145s;}
.hello-world  .class296 {animation-delay: 7.539936102236455s;}
.hello-world  .class297 {animation-delay: 7.565495207667765s;}
.hello-world  .class298 {animation-delay: 7.591054313099075s;}
.hello-world  .class299 {animation-delay: 7.6166134185303855s;}
.hello-world  .class300 {animation-delay: 7.642172523961696s;}
.hello-world  .class301 {animation-delay: 7.667731629393006s;}
.hello-world  .class302 {animation-delay: 7.693290734824316s;}
.hello-world  .class303 {animation-delay: 7.7188498402556265s;}
.hello-world  .class304 {animation-delay: 7.744408945686937s;}
.hello-world  .class305 {animation-delay: 7.769968051118247s;}
.hello-world  .class306 {animation-delay: 7.795527156549557s;}
.hello-world  .class307 {animation-delay: 7.821086261980867s;}
.hello-world  .class308 {animation-delay: 7.846645367412178s;}
.hello-world  .class309 {animation-delay: 7.872204472843488s;}
.hello-world  .class310 {animation-delay: 7.897763578274798s;}
.hello-world  .class311 {animation-delay: 7.923322683706108s;}
.hello-world  .class312 {animation-delay: 7.948881789137419s;}
.hello-world  .class313 {animation-delay: 7.974440894568729s;}

.btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #222831;
    border: 1px solid #4CAF50;
    font-size: 2rem;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4CAF50;
    transition: all 0.1s;
}

.btn > svg {
    height: 2rem;
}

.btn:hover {
    background-color: #4CAF50;
    color: black;
}

.section1 > .flexbox2 {
    display: flex;
    gap: 2%;
    padding: 0px 50px;
    justify-content: center;
    align-items: end;
    height: 300px;
    margin-top: 130px;
}

.card {
    flex: 1;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    max-width: 300px;
    border: 1px solid rgb(34, 40, 49);
    border-bottom: 0px;
    height: 250px;
    transition: margin 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    overflow: hidden;
}

@keyframes Wait {
    0% {
        height: 0px;
    }

    100% {
        height: 0px;
    }
}

@keyframes GoUp {
    0% {
        height: 0px;
    }

    100% {
        height: 250px;
    }
}

.flexbox2 .first {
    animation:  Wait 0.25s, GoUp 1.25s 0.25s;
}

.flexbox2 .second {
    animation: Wait 0.5s,  GoUp 1.25s 0.5s;
}

.flexbox2 .third {
    animation: Wait 0.75s,  GoUp 1.25s 0.75s;
}

.flexbox2 .forth {
    animation: Wait 1s, GoUp 1.25s 1s;
}

.card > h2 {
    padding: 0px 30px;
    margin-top: 50px;
    font-size: 60px;
    position: absolute;
    bottom: 0px;
    transition: opacity 0.3s ease, font-size 0.5s ease;
    color: black;
    font-style: italic;
}

.card:hover  > h2 {
    opacity: 1;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    padding: 0px;
}

.card:hover {
    height: 300px;
    border: 0px;
    border-bottom: 0px;
    margin: 0px 30px;
    box-shadow: 0px -8px 20px rgba(0, 173, 181, 0.6);
}

.card > img {
    width: 100%;
    filter: blur(10px);
    bottom: 30px;
    transition: filter 0.5s ease, opacity 0.5s ease;
    opacity: 0.75;
}

.card:hover  > img {
    filter: blur(0px);
    opacity: 1;
}
 
.section2 {
    background-color: #EEEEEE;
}

.section2 > h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 4rem;
    margin-bottom: 50px;
}

.section2 > .flexbox {
    display: flex;
    gap: 150px;
    padding: 50px;
    justify-content: center;
    padding: 0px 50px;
}

.why {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 350px;
}

.why > svg {
    height: 50px;
}

.checkmark-svg {
    transform: scale(0.8) translateX(12%) translateY(10%);
    stroke: #EEEEEE;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
    transition: all 1s;
    stroke-width: 1;
}

.why.shield  .main {
    transition: all 1s;
}

.why.shield:hover .checkmark-svg {
    fill: #EEEEEE;
    animation: Draw 1s linear forwards;
}

.why.shield:hover  .main {
    fill: green;
}

@keyframes Draw {
    0% {
        stroke-dashoffset: 25;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.why.lightbulb > svg {
    transition: all 1s;
}

.why.lightbulb:hover > svg {
    color: rgb(246, 217, 53);
    filter: drop-shadow(0px 0px 20px yellow);
}

@keyframes Rotate {
    100% {
        transform: rotate(360deg);
    }
}

.why.gear:hover > svg {
    animation: Rotate 2s linear infinite forwards;
}

.why > h2 {
    font-size: 35px;
    margin-bottom: 0px;
}

.why > p {
    font-size: 20px;
}

.section3 {
    background-color: rgb(34, 40, 49);
    padding-bottom: 75px;
}

.section3 > q {
    display: block;
    font-weight: bold;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #D1D1D1;
    font-style: italic;
}

.section3 span {
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
    margin-left: 15px;
}

.section3 > h2 {
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 50px;
    color: #D1D1D1;
}

.section3 > .container {
    width: 70%;
    margin: 75px auto;
    overflow-x: hidden;
    margin-bottom: 0px;
    padding: 15px 0px;
}


@keyframes Slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-2550px);
    }
}

.section3 .flexbox {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    padding: 0px;
    animation: Slide 25s linear infinite;
}


.section3  .container:hover > .flexbox{
    animation-play-state: paused;
}

.section3 > .container p {
    text-align: center;
    color: #D1D1D1;
    font-size: 20px;
    margin: 5px 0px;
    transition: all 0.5s;
    opacity: 0;
}

.section3  svg{
    transition: all 0.5s;
    width: 100px;
}

#rust {
    filter: drop-shadow(0px 0px 0px black) !important;
}

.section3 .flexbox > div:hover > svg {
    transform: translateY(-5px);
    filter: drop-shadow(0px 0px 10px black);
}

.section3 .flexbox > div:hover > p {
    transform: translateY(-5px);
    opacity: 1;
}


.section4 {
    display: flex;
    background-color: #EEEEEE;
    height: 800px;
    overflow-y: hidden;
    justify-content: center;
    padding: 50px 0px;
    gap: 30px
}

.scrollable {
    height: 100%;
    width: 700px;
    background-color: #EEEEEE;
    font-size: 100px;
}

.borderline {
    height: 800px;
    width:1px;
    box-shadow: 0px 0px 1px rgba(192, 192, 192, 1);
    background-color: #EEEEEE;
}

.animations {
    height: 100%;
    width: 700px;
    background-color: #EEEEEE;
}

@media (max-width: 550px) {
    .section1 > .flexbox1 {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .portrait {
        order: 1;
        max-width: 100%;
        min-width: 100%;
    }

    .intro {
        max-width: 100%;
    }

    .hello-world {
        font-size: 0.8rem;
        color: #EEEEEE;
        line-height: 1.7;
    }

    .section1 h1 {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .btn > svg {
        height: 1.5rem;
    }

    .section1 > .flexbox2 {
        gap: 50px;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 50px;
    }

    .card {
        border-bottom: 1px solid #00ADB5;
        border-radius: 10px;
        min-width: 300px;
    }

    .card > img {
        filter: blur(0px);
    }
    
    .card:hover {
        border: 2px solid black;
        margin: 0px;
        height: 250px;
        box-shadow: 0px 0px 20px rgba(0, 173, 181, 0.6);
    }

    header {
        display: flex;
    }
    
    .section2 > .flexbox {
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

    .why {
        align-items: center;
        text-align: center;
    }
}
