@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/times_new_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}

header {
    display: none;
    position: fixed;
    width: 100%;
    gap: 40px;
    background-color: #0B192C;
    align-items: center;
    padding-left: 5%;
    z-index: 2;
}

header > a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
    margin: 15px 0px;
    color: #EEEEEE;
}

header > a:hover {
    color: silver;
}

.section1 {
    background: linear-gradient(rgba(34, 40, 49, 1) 80%, rgba(34, 40, 49, 0.85)); 
    padding-top: 80px;
}

.section1 > .flexbox1 {
    display: flex;
    gap: 6%;
    padding: 0px 50px;
    justify-content: center;
}

.portrait {
    flex: 1;
    max-width: 550px;
    min-width: 550px;
    max-height: 550px;
    border-radius: 40%;
}

.intro {
    flex: 1;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.intro > a {
    text-decoration: none;
    user-select: none;
}

.section1 h1 {
    font-size: 4rem;
    font-family: "CustomFont", serif;
    align-self: flex-start;
    background: linear-gradient(90deg, yellow, #00ADB5, red, green);
    background-size: 400% 400%;
    animation: gradient-animation 20s ease infinite;
    -webkit-background-clip: text;
    color: transparent;
    user-select: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-box {
    background-color: #393E46;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 100%;
    padding: 0px 20px;
    margin-bottom: 30px;
    box-shadow: 6px 10px rgba(0, 0, 0, 0.5);
}

.hello-world {
    font-family: 'Consolas', sans-serif;
    font-size: 1.2rem;
    color: #EEEEEE;
    line-height: 1.4;
}

.btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #222831;
    border: 1px solid #4CAF50;
    font-size: 2rem;
    border-radius: 8px;
    padding: 5px 20px;
    color: #4CAF50;
    transition: color 0.1s ease, background-color 0.1s ease;
}

.btn > svg {
    height: 2rem;
}

.btn:hover {
    background-color: #4CAF50;
    color: black;
}

.section1 > .flexbox2 {
    display: flex;
    gap: 2%;
    padding: 0px 50px;
    justify-content: center;
    align-items: end;
    height: 300px;
    margin-top: 130px;
}

.card {
    flex: 1;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    max-width: 300px;
    border: 1px solid #00ADB5;
    border-bottom: 0px;
    height: 250px;
    transition: margin 0.5s ease, height 0.5s ease;
    position: relative;
    overflow: hidden;
}

.card > h2 {
    padding: 0px 30px;
    margin-top: 50px;
    font-size: 60px;
    position: absolute;
    bottom: 0px;
    transition: opacity 0.3s ease, font-size 0.5s ease;
    color: black;
}

.card:hover  > h2 {
    opacity: 1;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    padding: 0px;
}

.card:hover {
    border: 2px solid black;
    border-bottom: 0px;
    margin: 0px 30px;
    height: 300px;
    box-shadow: 0px -8px 20px rgba(0, 173, 181, 0.6);
}

.card > img {
    width: 100%;
    filter: blur(10px);
    bottom: 30px;
    transition: filter 0.5s ease;
}

.card:hover  > img {
    filter: blur(0px);
}

.section2 {
    background-color: #EEEEEE;
    
}

.section2 > h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 4rem;
    margin-bottom: 50px;
}

.section2 > .flexbox {
    display: flex;
    gap: 150px;
    padding: 50px;
    justify-content: center;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.why {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 350px;
}

.why > svg {
    height: 50px;
}

.why > h2 {
    font-size: 35px;
    margin-bottom: 0px;
}

.why > p {
    font-size: 20px;
}

.section3 {
    background-color: yellowgreen;
    overflow: hidden;
}

.section3 > h1 {
    text-align: center;
    font-size: 60px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: repeat(100, auto);
    gap: 0px 20px;
}

.grid > div {
    background-color: yellowgreen;
    width: 100%;
    aspect-ratio: 1;
    text-align: center;
}

#tile-6 {
    border-right: 20px solid black;
}

#tile-18 {
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-radius: 0px 0px 15px 0px;
}

#tile-17 {
    border-bottom: 20px solid black;
    border-radius: 0px 0px 00px 0px;
    margin-left: 20px;
}


@media (max-width: 1320px) {
    .section1 > .flexbox1 {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .portrait {
        order: 1;
    }
}


@media (max-width: 950px) {
    .section1 > .flexbox1 {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .portrait {
        order: 1;
    }

    .section1 > .flexbox2 {
        gap: 50px;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 50px;
    }

    .card {
        border-bottom: 1px solid #00ADB5;
        border-radius: 10px;
        min-width: 300px;
    }

    .card > img {
        filter: blur(0px);
    }
    
    .card:hover {
        border: 2px solid black;
        margin: 0px;
        height: 250px;
        box-shadow: 0px 0px 20px rgba(0, 173, 181, 0.6);
    }

    header {
        display: flex;
    }
    
    .section2 > .flexbox {
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

    .why {
        align-items: center;
        text-align: center;
    }
}